body{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    background-size: cover;
    background-color: #1B0015;
    color: white;
    font-family: Aksara;
    user-select: none;
}

*{
    -webkit-user-drag: none;
}
/* 
.bc{
    width: 100%;
    height: 100%;
    position: fixed;
    background-size: cover;
    background-image: url(../img/bc.mp4);
    z-index: -9999;
    
} */

 /* الكورسر الأساسي */
 .cursor {
    transform: translate(-50%, -50%);
    transition: all 0.2s ease;

    position: fixed;
    top: 0;
    left: 0;
    width: 0px;
    height: 0px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #910389;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    /* transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease; */
    mix-blend-mode: difference;
    /* backdrop-filter: blur(5px); */
  }


  .splide{
    margin-bottom: 80px;
  }

  .project-card{
    max-width: 80%;
    /* height: 300px; */
    background-color: rgba(27, 0, 21, 1);
    border: solid 3px #910389;
    border-radius: 17px;
    padding: 20px;
    font-family: Inter;
    display: flex;
    margin-bottom: 100px;
}
.project-card{
    max-width: 80%;
    /* height: 300px; */
    background-color: rgba(27, 0, 21, 1);
    border: solid 3px #910389;
    border-radius: 17px;
    padding: 20px;
    font-family: Inter;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

  .cursor.active {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
  }

.Home p {
    line-height: 1.8;
}

  /* عناصر للتجربة */
  .box {
    width: 100px;
    height: 100px;
    background-color: #910389;
    margin: 50px auto;
    text-align: center;
    line-height: 100px;
    border-radius: 12px;
    cursor: pointer;
  }
section{
    overflow: hidden;
}


.background-video {
    position: fixed;
    width: 100%;
    height: 100vh; /* اضبط حسب الحاجة */
    overflow: hidden;
    z-index: -100000000000000000000000000000000000;
  }
  
  .background-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
  }
  

.container{
    max-width: 1360px;
    /* background-color: #ffffff; */
    margin: auto;
}

nav{
    width: 100% -2px;
    /* height: 80px; */
    border-bottom: 2px  solid #93068c;
    display: flex;
    position: relative;
    background-color: #1B0015;
}

.lan_h{
    display: none;
    top: 31%;
    position: absolute;
    right: 97px;
}

nav img{
    width: 176px;
    height: 52px;
    padding: 20px;
}



nav ul {
    width: 76%;
    /* padding: 20px; */
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    margin: auto;
}


.menu{
    /* display: none; */
    right: -100%;
    transition: 1s;
    width: auto;
    width: max-content;
}


.i_menu{
    margin: auto;
    font-size: 50px;
    cursor: pointer;
    display: none;
    top: 20%;
    position: absolute;
    right: 30px;
    background: linear-gradient(279deg, rgba(145, 3, 137, 1), rgba(242, 119, 244, 1));
    background-clip: text;
    color: #00000000;
}

nav li ,.li_m{
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    color: rgba(194, 194, 194, 0.7);
}

.li_m{
    display: block;
}



nav a ,.a_m{
    text-decoration: none;
    color: rgba(194, 194, 194, 0.7);
    transition: 0.5s;
}


nav a:hover{
    color: rgb(255, 255, 255);
}



.a_m:hover{
    color: rgb(255, 255, 255);
}


.btn_su{
    text-decoration: none;
    padding: 10px;
    background: linear-gradient(135deg, #910389,#f277f4 );
    border-radius: 10px;
    color: white;
}

.btn_su {
    --start-color: #910389;
    --end-color: #f277f4;
    background: linear-gradient(135deg, var(--start-color), var(--end-color));
    transition: all 1s ease;
}

.btn_su:hover {
    --start-color: #f277f4;
    --end-color: #910389;
    background: linear-gradient(180deg, var(--start-color), var(--end-color));
}



.all{
    width: 100%;
}

.Home ,.Choose_Us{
    width: 100%;
    display: flex;
}

.Home div{
    flex: 1;
    /* padding-left: 40px; */
}

.Home_div{
    /* flex: 1; */
    padding-left: 40px;
}


.Home h1{
    /* font-size: 42px; */
    font-size: clamp(23px,8vw,42px);
    padding-top: 40px;
    /* padding-left: 40px; */
    -webkit-text-fill-color: #ffffff;
    -webkit-text-stroke: 1.5px #910389;
}



.Home p{
    font-size: 20px;
    /* padding-left: 40px; */
    color: white;
    /* -webkit-text-fill-color: #ffffff; */
    /* -webkit-text-stroke: 1.5px #910389; */
}


.btn_Services{
    /* width: 150px; */
    display: flex;
    /* text-align: center; */
    padding-left: 10px;
    /* padding-right: 10px; */
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #f277f4;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    /* margin-left: 40px; */
    /* -webkit-text-fill-color: #ffffff;
    -webkit-text-stroke: 0.5px #910389; */
}





.btn_Services div{
    /* width: 150px; */
    /* text-align: center; */
    padding: 10px;
    background: linear-gradient(135deg, #910389,#f277f4 );
    color: white;
    border-radius: 10px;
    margin-left: 8px;
    /* float: right; */
    transform: translatex(6px)  scale(1.1);
    /* transform: scale(1.1); */
}



.conters{
    margin-top: 80px;
    /* padding: 100px; */
    width: 100% -100px;
    /* height: 300px; */
    /* background-color: rgba(250, 235, 215, 0.329); */
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    font-family: neuropol;
    padding-bottom: 100px;

}


.conter{
    /* width: 100px; */
    /* height: 100px; */
    /* background-color: #910389; */
    text-align: center;
    
}



.conter h1{
    -webkit-text-fill-color: #ffffff;
    -webkit-text-stroke: 1.5px #910389;
    font-size: 42px;
}



.conter p{
    -webkit-text-fill-color: #ffffff;
    -webkit-text-stroke: 0.8px #910389;
    font-size: 25px;
}

.Choose_box{
    max-width: 700px;
    background-color: rgba(27, 0, 21, 1);
    text-align: center;
    border: solid 3px #910389;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
    font-family: Inter;
    margin: auto;
}


.Choose_o{
    border: solid 3px #910389;
    border-radius: 10px;
    padding: 20px;
    /* margin-top: 50px; */
    font-family: Inter;
    /* margin: auto; */
    width: 300px;
    background-color: rgba(27, 0, 21, 1);
}

.Choose_flex{
    display: flex;
    justify-content: center;
}

.Choose_box_h h1, .text_h{
    font-weight: bold;
    background: linear-gradient(308deg, rgba(145, 3, 137, 1), rgba(242, 119, 244, 1));
    -webkit-background-clip: text;
    background-clip: text;
    color: #00000000;
    font-family: Al Qabas;
    /* font-size: 43px; */
    font-size: clamp(16px,6vw,43px);
    margin: 0;
}


.Choose_box_h h3{
    font-size: clamp(5px,4vw,18px);
}

.Choose_f{
    padding: 10px;
}


.Choose_box_h{
    max-width: max-content;
    margin: auto;
    background-color: rgba(27, 0, 21, 1);
    text-align: center;
    border: solid 3px #910389;
    border-radius: 17px;
    padding: 20px;
    font-family: Inter;
    margin-bottom: 100px;
}

/* -----------footer--------------- */



footer{
    width: 100%;
    /* height: 300px; */
    background-color: rgba(27, 0, 21, 1);
    border-top: 2px solid white;
    
}

.all_f_box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.f_box{
    /* width: 300px; */
    /* height: 300px; */
    /* background-color: aqua; */
    padding: 20px;
}

.f_box h1{
    font-size: clamp(16px, 3vw, 32px);
}




.f_box2{
    display: flex;
    width: 50%;
    justify-content: space-between;
}


.f_line{
    width: 90px;
    height: 2px;
    background: linear-gradient(135deg, #910389,#f277f4 );
}


footer svg{
    height: 30px;
    margin-right: 25px;
}

footer ul{
    display: contents;
}

footer li{
    display: flex;
    padding-top: 20px;
}



footer a{
    text-decoration: none;
    color: white;
}

.CopyRight{
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgba(194, 194, 194, 0.7);
    font-size: clamp(11px, 3vw, 16px);
}


/* -----------scrllBar----- */


::-webkit-scrollbar {
    width: 5px;
}



::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #910389; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #f277f49f; 
  border-radius: 10px;
}
  
  

/* -----------media----- */


.s{
    /* display: block; */
    right: 0;
    width: 100%;
}



@media (min-width: 320px) and (max-width: 950px) {
    .img_Home{
        display: none;
    }
    .review{
        width: 100%;
        background-color: rgb(255, 0, 200);
    }
}

@media (min-width: 320px) and (max-width: 1043px) {
    .conter {
        margin: 10px;
        text-align: center;
        border: solid #95088d;
        border-radius: 20px;
        padding: 15px;
        width: 230px;
        background-color: #1b0015;
    }
    .conters{
        justify-content: center;
    }
}


@media (min-width: 320px) and (max-width: 1080px) {
    .ul_nav{
        display: none;
    }
    .i_menu{
        display: block;
    }
    .lan_h{
        display: block;
    }
}




@media (min-width: 320px) and (max-width: 685px) {
    .Home_div {
        padding-left: 10px;
    }
    
    .f_box2{
        display: flex;
        width: 100%;
        justify-content: space-between;
        /* background-color: #f277f4; */
    }
    body{
        /* text-align: center; */
    }
    .Home h1 , .Home p{
        padding: 10px;
    }
    .f_box , .f_box2{
        /* width: 100%; */
        /* margin: auto; */
    }

    .project-card {
        flex-direction: column;
        margin: auto;
        max-width: 100%;
        padding: 15px 0;
    }
    .details_div {
        margin: auto;
    }
    .right{
        flex-direction: column-reverse;
    }
    /* .right-2{
        flex-direction: column;
    } */
    .margin{
        margin: auto;
    }

    .f_box2 .f_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        /* background-color: #910389; */
    }

    .a_m{
        font-size: 13px;
    }
}



@media (min-width: 320px) and (max-width: 534px) {
        
    nav img{
        width: 95px;
        height: auto;
    }
    .i_menu{
        font-size: 35px;
    }

    .lan_h{
        top: 24%;
        right: 75px;
    }



    .Home p{
        font-size: 16px;
    }

   
}


@media (min-width: 0) and (max-width: 320px) {
        
    .Home h1{
        /* font-size: 23px; */
    }



    .Home p{
        font-size: 9px;
    }

   
}










/* -----------font--------- */

@font-face {
    font-family: 'Aksara';
    src: url('../fonts/Myriad Pro Bold SemiExtended.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neuropol';
    src: url('../fonts/neuropol.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
